<section class="bg-gray-50 flex flex-col items-center mt-10 pb-24">
    <div class="flex flex-col px-12 w-1/3">
        <form class="mb-4">
            <h1 class="text-4xl font-semibold mb-4">Create an account</h1>
            <div class="mb-4 flex flex-col space-y-2">
                <label for="username" class="text-sm font-semibold">Username</label>
                <input type="text" name="username"
                    class="placeholder-gray-400 bg-gray-50 px-3 py-2 border border-gray-200 rounded-md text-sm"
                    placeholder="username" />
            </div>
            <div class="mb-4 flex flex-col space-y-2">
                <label for="email" class="text-sm font-semibold">Email</label>
                <input type="email" name="email"
                    class="placeholder-gray-400 bg-gray-50 px-3 py-2 border border-gray-200 rounded-md text-sm"
                    placeholder="Email" />
            </div>
            <div class="mb-4 flex flex-col space-y-2">
                <label for="password" class="text-sm font-semibold">Password</label>
                <input type="text" name="password"
                    class="placeholder-gray-400 bg-gray-50 px-3 py-2 border border-gray-200 rounded-md text-sm"
                    placeholder="Password" />
            </div>
            <div class="flex flex-row items-center justify-between">
                <button type="submit" class="bg-black px-4 py-2 text-sm font-medium text-white rounded-md hover:bg-gray-400">Register</button>
                <a href="#" class="text-base hover:underline">Already have an account?</a>
            </div>
        </form>
    </div>
</section>
