<section class="lg:mx-48 lg:pt-12 lg:min-h-screen flex flex-col items-center font-sans">
    <h1 class="text-center font-bold text-6xl leading-tight lg:mb-7">Get smarter about what matters to you</h1>
    <p class="text-gray-600 font-extrabold lg:mb-5">We'll help you find great things to read.</p>
    <a href="#" class="bg-black text-white rounded-md py-2 px-4 hover:bg-gray-400">Get Started</a>
    <img src="/assets/images/background/landing_background.png" />
</section>

<section class="lg:mx-48 lg:pt-16 flex flex-col items-center font-sans">
    <div class="flex flex-row mb-20">  
        <img src="/assets/images/Group_3_2x_coyohk.png" class="mr-5 w-108"/>
        <div class="flex flex-col items-center space-y-4 relative">
            <img src="/assets/images/scribbles_right.png" class="absolute -top-44 -right-44 w-48">
            <h3 class="text-4xl">The power of <span class="text-amber-400">text editor.</span></h3>
            <div class="flex flex-col space-y-4">
                <p>Our platform supports WYSIWYG text editor</p>
                <div class="flex flex-row items-center">
                    <img src="/assets/images/circle-with-check-symbol.png" class="mr-3"/>
                    <p>Enhance writer productivity & retension</p>
                </div>
                <div class="flex flex-row items-center">
                    <img src="/assets/images/circle-with-check-symbol.png" class="mr-3"/>
                    <p>Build your brand reputation and trust</p>
                </div>
                <div class="flex flex-row items-center">
                    <img src="/assets/images/circle-with-check-symbol.png" class="mr-3"/>
                    <p>Improve your writing skills</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center relative mb-5">
        <img src="/assets/images/scribbles_left.png" class="absolute -top-44 -left-48 w-48"/>
        <div class="flex flex-col items-center">
            <p class="text-4xl mb-3">Find the <span class="text-blue-400">plan</span> that's <span class="text-amber-600">right</span> for you</p>
            <span class="text-gray-600 mb-3 font-extrabold">with Reasonable pricing</span>
            <span class="text-gray-800">Only $3 / month</span>
            <span class="text-gray-800 mb-8">Billed monthly. Cancel anytime</span>
            <a href="#" class="bg-black text-white rounded-md py-2 px-4 hover:bg-gray-400">Get Premium</a>
        </div>
    </div>

    <div class="grid grid-cols-3 w-full min-h-screen">
        <div class="flex flex-col items-center">
            <img src="/assets/images/0.png" class="w-36"/>
            <p class="text-3xl mb-3">Free</p>
            <p class="text-gray-900 font-normal mb-1">For Staters</p>
            <p class="text-3xl font-extrabold mb-1">$0</p>
            <p class="mb-5">per user per month</p>
            <a href="#" class="mb-8 bg-black text-white rounded-md py-2 px-4 hover:bg-gray-400">Get started</a>
            <div class="flex flex-col space-y-4">
                <p class="font-extrabold">Top features</p>
                <div class="flex flex-row items-center">
                    <img src="/assets/images/circle-with-check-symbol.png" class="mr-3 w-4"/>
                    <p>Up to 5 posts per day</p>
                </div>
                <div class="flex flex-row items-center">
                    <img src="/assets/images/circle-with-check-symbol.png" class="mr-3 w-4"/>
                    <p>Up to 5 people per room chat</p>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center">
            <img src="/assets/images/3.png" class="w-36"/>
            <p class="text-3xl mb-3">Premium</p>
            <p class="text-gray-900 font-normal mb-1">For Pros</p>
            <p class="text-3xl font-extrabold mb-1">$3</p>
            <p class="mb-5">per user per month</p>
            <a href="#" class="mb-8 bg-black text-white rounded-md py-2 px-4 hover:bg-gray-400">Try for 14 days free</a>
            <div class="flex flex-col space-y-4">
                <p class="font-extrabold">Top features</p>
                <div class="flex flex-row items-center">
                    <img src="/assets/images/circle-with-check-symbol.png" class="mr-3 w-4"/>
                    <p>Up to 5 posts per day</p>
                </div>
                <div class="flex flex-row items-center">
                    <img src="/assets/images/circle-with-check-symbol.png" class="mr-3 w-4"/>
                    <p>Up to 5 people per room chat</p>
                </div>
                <div class="flex flex-row items-center">
                    <img src="/assets/images/circle-with-check-symbol.png" class="mr-3 w-4"/>
                    <p>Reminders</p>
                </div>
                <div class="flex flex-row items-center">
                    <img src="/assets/images/circle-with-check-symbol.png" class="mr-3 w-4"/>
                    <p>Productivity trends</p>
                </div>
                <div class="flex flex-row items-center">
                    <img src="/assets/images/circle-with-check-symbol.png" class="mr-3 w-4"/>
                    <p>Categories upload</p>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center">
            <img src="/assets/images/5.png" class="w-36"/>
            <p class="text-3xl mb-3">Business</p>
            <p class="text-gray-900 font-normal mb-1">For Team</p>
            <p class="text-3xl font-extrabold mb-1">$5</p>
            <p class="mb-5">per user per month</p>
            <a href="#" class="mb-8 bg-black text-white rounded-md py-2 px-4 hover:bg-gray-400">Upgrade now</a>
            <div class="flex flex-col space-y-4">
                <p class="font-extrabold">Top features</p>
                <div class="flex flex-row items-center">
                    <img src="/assets/images/circle-with-check-symbol.png" class="mr-3 w-4"/>
                    <p>Up to 120 posts per day</p>
                </div>
                <div class="flex flex-row items-center">
                    <img src="/assets/images/circle-with-check-symbol.png" class="mr-3 w-4"/>
                    <p>Up to 100 people per room chat</p>
                </div>
                <div class="flex flex-row items-center">
                    <img src="/assets/images/circle-with-check-symbol.png" class="mr-3 w-4"/>
                    <p>Co-author with member</p>
                </div>
                <div class="flex flex-row items-center">
                    <img src="/assets/images/circle-with-check-symbol.png" class="mr-3 w-4"/>
                    <p>Publication create</p>
                </div>
                <div class="flex flex-row items-center">
                    <img src="/assets/images/circle-with-check-symbol.png" class="mr-3 w-4"/>
                    <p>Admin, member roles</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="lg:mx-48 lg:pt-16 flex flex-col items-center font-sans min-h-screen">
    <div class="flex flex-row items-center relative mb-20">
        <img src="/assets/images/scribbles_right.png" class="absolute -top-20 -right-20 w-48"/>
        <div>
            <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugit eaque distinctio inventore quaerat ex itaque, fuga explicabo at,
            magni necessitatibus quibusdam porro perferendis quod optio recusandae assumenda
            voluptates ad expedita.
            </p>
            <div class="flex flex-row justify-between">
                <div class="flex flex-col">
                    <p class="font-extrabold">John Doe</p>
                    <p class="text-sm">Software engineering</p>
                </div>
                <a href="#" class="font-extrabold hover:text-gray-600">Read more</a>
            </div>
        </div>
        <img src="/assets/images/Group_1_2x_jua0zp.png" class="w-120"/>
    </div>
    <p class="text-3xl font-extrabold">Expand your reading.</p>
    <p class="text-3xl font-extrabold mb-4">Expand your mind.</p>
    <a href="#" class="mb-20 bg-black text-white rounded-md py-2 px-4 hover:bg-gray-400">Get started</a>
</section>
