/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .no-tailwindcss-base {
    p {
      background-color: revert;
    }
  }
    @font-face {
        font-family: 'Dancing';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('/assets/fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
    }
}

.reset-tw,
.reset-tw * {
  all: revert !important;
}

.reset-tw img {
  width: 100% !important; 
  height: auto !important;
  display: block !important;
  max-width: 100% !important; 
}
