<section class="lg:px-44 py-14 flex flex-col items-center">
    <h2 class="mb-8 text-9xl font-extrabold text-slate-600 dark:text-slate-400">403</h2>
    <p class="mb-2 text-4xl font-bold text-slate-800 dark:text-slate-100">Forbidden</p>
    <p class="mb-8 text-xl text-slate-600 dark:text-slate-400">
        Sorry but the requested source is not available for you
    </p>
    <a routerLink="/posts" class="rounded-full border border-blue-600 text-center font-medium transition-colors duration-150 dark:border-blue-500 flex flex-row items-center justify-center text-blue-600 focus:outline-none dark:text-blue-500 hover:bg-blue-50 disabled:opacity-50 hover:dark:bg-slate-800 px-4 py-2 text-lg">
        <span>
            Take me home
        </span>
    </a>
</section>
