<footer class="lg:px-48 py-10 grid grid-cols-4 shadow-[0_-3px_8px_-3px_rgba(0,0,0,0.2)]">
    <div class="flex flex-col space-y-5">
        <p class="font-bold text-lg">Readit.Inc</p>
        <div class="flex flex-row items-center space-x-2">
            <a href="https://www.facebook.com/khoa.vu252">
                <img src="/assets/images/facebook.png" alt="Facebook icon" class="w-4">
            </a>
            <a href="https://www.instagram.com/khoavu1625/">
                <img src="/assets/images/instagram.png" alt="Instagram Icon" class="w-4">
            </a>
            <a href="#">
                <img src="/assets/images/skype.png" class="w-4">
            </a>
            <a href="https://www.linkedin.com/in/khoavu252/">
                <img src="/assets/images/linkedin.png" alt="Linkedin Icon" class="w-4">
            </a>
        </div>
        <p>Khoa Vu &copy; 2024</p>
    </div>
    <div class="flex flex-col space-y-3">
        <p class="font-bold text-lg">Features</p>
        <a href="#" class="font-medium hover:text-gray-700">Help</a>
        <a href="#" class="font-medium hover:text-gray-700">Premium Member</a>
        <a href="#" class="font-medium hover:text-gray-700">Top Topics</a>
        <a href="#" class="font-medium hover:text-gray-700">Advertise</a>
    </div>
    <div class="flex flex-col space-y-3">
        <p class="font-bold text-lg">About Us</p>
        <a href="#" class="font-medium hover:text-gray-700">Our team</a>
        <a href="#" class="font-medium hover:text-gray-700">Careers</a>
        <a href="#" class="font-medium hover:text-gray-700">Press</a>
        <a href="#" class="font-medium hover:text-gray-700">Terms</a>
        <a href="#" class="font-medium hover:text-gray-700">Privacy Policy</a>
    </div>
    <div class="flex flex-col space-y-3">
        <p class="font-bold text-lg">Stay Up To Date</p>
        <p class="font-medium">Subcribe our newsletter</p>
        <form>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <img src="/assets/images/email.svg" class="w-4 h-4"/>
                </div>
                <input id="email-address-icon" class="bg-gray-50 p-2 rounded-md ps-10 border border-gray-300 placeholder-gray-500 text-sm"
                    placeholder="email"/>
            </div>
        </form>
    </div>
</footer>
